<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <form class="form-horizontal"
            novalidate
            (ngSubmit)="saveProduct()"
            [formGroup]="productForm">
            <div class="form-group"
                [ngClass]="{'has-error': productNameMessage}">
                <div class="col-md-2">
                    <label class="control-label"
                            for="productName">
                        Product Name
                    </label>
                </div>
                <div class="col-md-8">
                    <input class="form-control"
                            id="productName"
                            type="text"
                            placeholder="Product Name (required)"
                            formControlName="productName"/>
                    <span class="help-block" *ngIf="productNameMessage">
                        {{productNameMessage}}
                    </span>
                </div>
            </div>
            <div class="form-group"
                [ngClass]="{'has-error': productCodeMessage}">
                <div class="col-md-2">
                    <label class="control-label"
                            for="productCode">
                        Product Code
                    </label>
                </div>
                <div class="col-md-8">
                    <input class="form-control"
                            id="productCode"
                            type="text"
                            placeholder="Product Code (required)"
                            formControlName="productCode">
                    <span class="help-block" *ngIf="productCodeMessage">
                        {{productCodeMessage}}
                    </span>
                </div>
            </div>
            <div class="form-group"
                [ngClass]="{'has-error': ratingMessage}">
                <div class="col-md-2">
                    <label class="control-label"
                            for="rating">
                        Start Rating (1-5)
                    </label>
                </div>
                <div class="col-md-8">
                    <input class="form-control"
                            id="rating"
                            type="number"
                            placeholder="Rating"
                            formControlName="starRating"/>
                    <span class="help-block" *ngIf="ratingMessage">
                        {{ratingMessage}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <button class="btn btn-normal"
                            type="button"
                            [disabled]='(tags.dirty || tags.touched) && !tags.valid && tags.controls.length > 0'
                            (click)="addTag()">Add Tag</button>
                </div>
            </div>

            <div formArrayName="tags" *ngFor="let tag of tags.controls; let i = index">
                <div [formGroupName]="i">
                    <div class="form-group"
                        [ngClass]="{'has-error': (tag.dirty || tag.touched) && !tag.valid}">
                        <div class="col-md-2">
                            <label class="control-label"
                                    attr.for="{{'tag' + i}}">
                                Tag
                            </label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control"
                                    attr.id="{{'tag' + i}}"
                                    type="text"
                                    formControlName="tag">
                            <span class="help-block" *ngIf="(tag.dirty || tag.touched) && !tag.valid">
                                Please enter value in this field
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div formArrayName="tags">
                    <div class="row">
                        <button class="col-md-offset-1 col-md-1 btn btn-default"
                                type="button"
                                (click)="addTag()">Add Tag
                        </button>
                    </div>
                    <div class="form-group"
                        *ngFor="let tag of tags.controls; let i=index" >
                        <label class="col-md-2 control-label" [attr.for]="i">Tag</label>

                        <div class="col-md-8">
                            <input class="form-control" 
                                    [id]="i" 
                                    type="text" 
                                    placeholder="Tag" 
                                    [formControlName]="i" />
                        </div>
                    </div>
                </div>-->

            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label" 
                            for="description">
                            Description
                    </label>
                </div>
                <div class="col-md-8">
                    <input class="form-control"
                            id="description"
                            type="text"
                            formControlName="description">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2"></div>
                <div class="col-md-8">
                    <button class="btn btn-primary"
                            type="submit"
                            [disabled]="!productForm.valid">
                        Save
                    </button>
                    <button class="btn btn-normal"
                            [routerLink]="['/products']"
                            type="button">
                        Cancel
                    </button>
                    <button class="btn btn-normal"
                            (click)="deleteProduct()"
                            type="button">
                        Delete        
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>