<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2 col-xs-2">Filter by:</div>
            <div class="col-md-4 col-xs-4">
                <input type="text" [(ngModel)]='listFilter' />
            </div>
            <div class="col-md-2 col-xs-2"> Rating:</div>
            <div class="col-md-4 col-xs-4">
                <div class="dropdown">
                    <button class="btn btn-default" type="button" data-toggle="dropdown" style="width:100%" >
                        <div style="float:left;">{{ratingFilter}}</div>
                        <div style="float:right;"><span class="caret"></span></div>
                        <div class="clear"></div>
                    </button>
                    <ul class="dropdown-menu" id="ratingDropdown" (click)="$event.preventDefault()">
                        <li><a href="#" tabindex="-1" (click)="onRatingFilterChange(null)">&nbsp;</a></li>
                        <li *ngFor='let ratingNumber of listRating' >
                            <a href="#" tabindex="-1" (click)="onRatingFilterChange(ratingNumber)"> {{ratingNumber}} </a>
                        </li>
                    </ul>
                </div>
                <!--<div>
                    <div class="btn-group" dropdown>
                        <button id="single-button" type="button" class="btn btn-default" style="width: 100px;" dropdownToggle>
                                <div style="float: left;">{{ratingFilter}}</div>
                                <div style="float: right;"><span class="caret"></span></div>
                                <div style="clear: both;"></div>
                        </button>
                        <ul dropdownMenu role="menu" aria-labelledby="single-button">
                            <li role="menuitem" *ngFor='let ratingNumber of listRating'>
                                <a class="dropdown-item" href="#" (click)="onRatingFilterChange($event, ratingNumber)">{{ratingNumber}}</a>
                            </li>
                            <li role="menuitem"><a class="dropdown-item" href="#" (click)="onRatingFilterChange($event)">Another action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#" (click)="onRatingFilterChange($event)">Something else here</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="#" (click)="onRatingFilterChange($event)">Separated link</a></li>
                        </ul>
                    </div>
                </div>-->
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-6">
                <h3>Filtered by: {{listFilter}} </h3>
            </div>
            <div class="col-md-6 col-xs-6">
                <h3>Rating: {{ratingFilter}}</h3>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table" *ngIf='products && products.length > 0'>
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-primary" (click)='toggleImage()'>
                                {{showImage ? 'Hide' : 'Show'}} Image
                            </button>
                        </th>
                        <th><a (click)='onProductSorterChange("product")' class="{{sortor === 'product' ? 'sortor' : ''}}">Product <span class="glyphicon {{manageGlyphicon('product')}}" ></span></a></th>
                        <th><a (click)='onProductSorterChange("code")' class="{{sortor === 'code' ? 'sortor' : ''}}">Code <span class="glyphicon {{manageGlyphicon('code')}}" ></span></a></th>
                        <th><a (click)='onProductSorterChange("available")' class="{{sortor === 'available' ? 'sortor' : ''}}">Available <span class="glyphicon {{manageGlyphicon('available')}}" ></span></a></th>
                        <th><a (click)='onProductSorterChange("price")' class="{{sortor === 'price' ? 'sortor' : ''}}">Price <span class="glyphicon {{manageGlyphicon('price')}}" ></span></a></th>
                        <th><a (click)='onProductSorterChange("rating")' class="{{sortor === 'rating' ? 'sortor' : ''}}">5 Star Rating <span class="glyphicon {{manageGlyphicon('rating')}}" ></span></a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let product of products | productFilter:listFilter:ratingFilter | productSorter:sortor:operator'>
                        <td>
                            <img *ngIf='showImage' 
                                [src]='product.imageUrl'
                                [title]='product.productName'
                                [style.width.px]='imageWidth'
                                [style.margin.px]='imageMargin'>
                        </td>
                        <td>
                            <a [routerLink]="['/ProductDetail', product.productId]">
                                {{product.productName}}
                            </a>
                        </td>
                        <td>{{product.productCode | lowercase}}</td>
                        <td>{{product.releaseDate}}</td>
                        <td>{{product.price | currency:'USD':true:'1.2-2' | lowercase}}</td>
                        <td>
                            <ai-star [rating]='product.starRating'
                                (ratingClicked)='onRatingClicked($event)'>
                            </ai-star>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>